<nav class="navbar bg-body-tertiary">
    <div class="container-fluid ">
      <a class="navbar-brand" href="#">
        <img src="https://www.medibuddy.in/assets/logos/medibuddyWithName.svg" class="logo" alt="Logo" width="200" height="40" class="d-inline-block align-text-top">
     
      </a>
      <div  class="text-end me-5 mt-2 nav-item">
        <a class="text-decoration-none me-2 ">About Us</a>
        <a class="text-decoration-none ms-2"  data-bs-toggle="modal" data-bs-target="#exampleModal">Login</a>
    </div>
    </div>
   
  </nav>
  
