
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

.logo {
    width: 50%;
    height: 50px;
}
.nav-item a{
 color: #1778f2!important;
 cursor: pointer;

font-family: Helvetica, sans-serif;
 font-weight:600;
 font-size: 16px;
}

