<div class="container services">
        <nav class=" navbar navbar-expand-lg mx-5  p-2 justify-content-around">
                <div class="align-items-center doctor rounded-4"><img
                                src="https://www.medibuddy.in/assets/services/doctor.svg" class="" alt="" width="90"
                                height="50">
                        <a>
                                <h6 class="mt-2 text-center fs-6">Talk to doctor</h6>
                        </a>
                </div>
                <div class="align-items-center"><img src="https://www.medibuddy.in/assets/services/medicine.svg"
                                class="mt-4" alt="" width="90" height="50"> <a >
                                <h6 class="mt-3 fs-6" routerLink="/Medicine">Medicine</h6>
                        </a></div>
                <div class="align-items-center"><img src="https://www.medibuddy.in/assets/services/surgery.svg" alt=""
                                width="90" height="50" class="mt-4"> <a>
                                <h6 class="mt-3 fs-6 ">Surgery</h6>
                        </a></div>
                <div class="align-items-center"><img src="https://www.medibuddy.in/assets/services/mb-gold.svg" alt=""
                                width="90" height="50" class="mt-5"> <a>
                                <h6 class="mt-3 fs-6 "><span class="text-primary">Medi</span><span
                                                class="text-danger">Buddy</span>
                                        <h6 class="gold-text">GOLD</h6>
                                </h6>
                        </a></div>
                <div class="align-items-center"><img src="https://www.medibuddy.in/assets/services/insurance.svg" alt=""
                                width="90" height="50" class="mt-4"> <a>
                                <h6 class="mt-3 fs-6 ">Insurance</h6>
                        </a></div>
                <div class="align-items-center"><img src="https://www.medibuddy.in/assets/services/labtest.svg" alt=""
                                width="90" height="50" class="mt-4"> <a>
                                <h6 class="mt-3 fs-6 ">Lab Test &<br> Packages</h6>
                        </a></div>
                <div class=" more  align-items-center">
                        <i class="bi bi-three-dots-vertical text-primary"></i>
                        <h6 class="mt-3 fs-6">More</h6>
                </div>

        </nav>
</div>
<div class="container  shadow rounded-pill my-3 py-4 w-75">
        <div class="row">
                <div class="col-md-6 p-4">
                        <h3 class="px-5 fs-6 fw-semibold text-center">Consult with Top Doctors Online, 24x7</h3>
                </div>
                <div class="col-md-6  p-4">
                        <div class="heading  w-100 border  border-white">
                                <a class="text-decoration-none  shadow rounded-pill p-3"><span
                                                class="highlight-color p-3 fs-7 fw-lighter">Start Consultation
                                                <i class="bi bi-arrow-right m-2 p-1 fw-semibold text-primary"></i></span>
                                </a>
                        </div>
                </div>
        </div>
</div>
<div class="container w-75 mt-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png"
                                        class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                                <img src="https://views.medibuddy.in/homePageBanners/womens-md.png"
                                        class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                                <img src="https://www.medibuddy.in/assets/medicine-home.webp" class="d-block w-100"
                                        alt="...">
                        </div>
                        <div class="carousel-item">
                                <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100"
                                        alt="...">
                        </div>
                        <div class="carousel-item">
                                <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100"
                                        alt="...">
                        </div>
                        <div class="carousel-item">
                                <img src="https://www.medibuddy.in/assets/singleConsult.webp" class="d-block w-100"
                                        alt="...">
                        </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                </button>
        </div>
</div>
<div class="container mt-5 shadow border border-secondary-subtle rounded">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="" width="70%" height="50%">
</div>
<div class="container mt-5">
        <div class="row">
                <div class="col-md-6">
                        <span class="text-primary fs-5 fw-normal">Medi</span><span
                                class="text-danger fs-5 fw-normal">Buddy</span> &nbsp;<span
                                class="gold-text fs-5 fw-normal pl-1">GOLD</span><br><br>
                        <h5 class="rb-gradient-text fs-1 fw-normal display-1">Give the care your <br>family deserves
                        </h5><br>
                        <div class="fs-4 text-heading"><span>Unlimited Consultations with top Doctors for 6 family
                                        members in 18+ specialities</span></div>
                        <button class="btn display-center  gold text-decoration-none mt-3">Buy MediBuddy Gold <i
                                        class="bi bi-arrow-right mx-3 my-5 fs-4 pl-5 pt-4"></i></button>

                </div>
                <div class="col-md-6">
                        <div class="conatiner">
                                <div class="row">
                                        <div class="col-md-3">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10"
                                                        style="width: 15rem;  font-family: Nunito;">
                                                        <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg"
                                                                class="pt-3 px-1" width="100px" height="120px">
                                                        <div class="card-body">
                                                                <h5 class="card-title fs-4">Unlimited Free Consultations
                                                                </h5>
                                                                <p class="card-text">Get unlimited free consultations
                                                                        with all <span class="fw-semibold fs-7"> doctors
                                                                                24x7</span> </p>

                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-3 mt-5 info">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10"
                                                        style="width: 15rem;  font-family: Nunito;">
                                                        <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg"
                                                                class="pt-3 px-1" width="100px" height="150px">
                                                        <div class="card-body">
                                                                <h5 class="card-title fs-4">Free For Full Family</h5>
                                                                <p class="card-text">Free consultations for upto <span
                                                                                class="fw-semibold fs-7"> <br>6 family
                                                                                members</span></p>

                                                        </div>
                                                </div>
                                        </div>

                                </div>
                                <div class="row">
                                        <div class="col-md-3">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10"
                                                        style="width: 15rem;  font-family: Nunito;">
                                                        <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg"
                                                                class="pt-3" width="100px" height="120px">
                                                        <div class="card-body">
                                                                <h5 class="card-title fs-4">Free For All Health Problems
                                                                </h5>
                                                                <p class="card-text">Consult with any doctor from <span
                                                                                class="fw-semibold fs-7"> 18
                                                                                departments</span>at any time </p>

                                                        </div>
                                                </div>
                                        </div>
                                        <div class="col-md-3 mt-5 info">
                                                <div class="card shadow  text-body rounded-4 border border-opacity-10"
                                                        style="width: 15rem; font-family: Nunito;">
                                                        <img src="https://www.medibuddy.in/assets/services/mb-gold/video-consultation.svg"
                                                                class="pt-3 px-1" width="100px" height="130px">
                                                        <div class="card-body">
                                                                <h5 class="card-title fs-4">Video Consultations</h5>
                                                                <p class="card-text">Video Consults with top doctors
                                                                        <span class="fw-semibold fs-7"> <br> 24x7</span>
                                                                </p>

                                                        </div>
                                                </div>
                                        </div>

                                </div>
                        </div>
                </div>
        </div>
</div>
<div class="container mt-5">
        <div class="row">
                <h4 class="fs-3 ins-text">Insurance</h4>
                <div class="mdTxt fw-semibold mt-2">Get access to all your Health insurance services - View Policy,
                        Initiate and Track Claims, Go Cashless with network hospitals and intimate Hospitalization</div>
                <div class="coantiner mt-5">
                        <div class="row">
                                <div class="d-flex flex-row mb-3">
                                        <div class="p-2">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10"  style="width: 11rem;">
                                                        
                                                        <div class="card-body">
                                                                <h4 class="card-text">E-Card  <i class="bi bi-arrow-right  ms-3 p-2 fw-semibold text-primary"></i></h4>
                                                                <p class="card-text">Get e-cards for you and your family members</p>
                                                        </div>
                                                        <img src="https://www.medibuddy.in/assets/services/insurance/ecard.svg" class="img-position mb-3 " width="100" height="70">
                                                </div>
                                        </div>
                                        <div class="p-2">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10" style="width: 13rem;">
                                                     
                                                        <div class="card-body">
                                                                <h2 class="card-text">Claims  <i class="bi bi-arrow-right justify-content-end p-2 fw-semibold text-primary"></i></h2>
                                                                <p class="card-text">Track your claims in real-time</p>
                                                        </div>
                                                        <img src="https://www.medibuddy.in/assets/services/insurance/claims.svg" class=" img-position mb-3 text-right" alt="..."  width="60" height="85">
                                                </div>
                                        </div>
                                        <div class="p-2">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10" style="width: 13rem;">
                                                     
                                                        <div class="card-body">
                                                                 <h4 class="card-text">Plan<i class="bi bi-arrow-right   ms-5 fw-semibold text-primary"></i> Hospitalization  </h4>
                                                                <p class="card-text">Plan and Intimate hospitalization at trusted hospitals.</p>
                                                        </div>
                                                        <img src="https://www.medibuddy.in/assets/services/insurance/hospitalization.svg" class=" img-position mb-2" alt="..." width="105" height="50">
                                                </div>
                                        </div>
                                        <div class="p-2">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10" style="width: 13rem;">
                                                    
                                                        <div class="card-body">
                                                                   <h4 class="card-text">Network <i class="bi bi-arrow-right fs-7 p-2 ms-3 fw-semibold text-primary"></i> Hospitals  </h4>
                                                                <p class="card-text">Search for the nearest Network hospital to go cashless</p>
                                                        </div>
                                                        <img src="https://www.medibuddy.in/assets/services/insurance/network-hospitals.svg" class="img-position mb-3" alt="..." width="100" height="45">
                                                </div>
                                        </div>
                                        <div class="p-2">
                                                <div class="card shadow text-body rounded-4 border border-opacity-10" style="width: 13rem;">
                                                        
                                                        <div class="card-body">
                                                                <h4 class="card-text">Empanel <i class="bi bi-arrow-right float-sm-end  p-2 ms-3 fs-4 text-primary"></i> Hospitals  </h4>
                                                                <p class="card-text">Become a part of Network Hospitals.</p>
                                                        </div>
                                                        <img src="https://www.medibuddy.in/assets/services/insurance/EmpanelHosp.svg" class="img-position mb-4" alt="..." width="80" height="60">
                                                </div>
                                        </div>
                                      
                                </div>
                        </div>

                </div>
        </div>
</div>
